.App {
  text-align: center;
  margin: 0px auto;
  max-width: 50%;
  max-height: auto;
  border: 1px solid red;
}
.Balance {
  border: 1px solid yellow;
}
.parent-inex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.trans-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trans-form > input {
  height: 30px;
  width: 50%;
}
.trans-form > button {
  height: 40px;
  margin-top: 10px;
}