.App {
  text-align: center;
  margin: 0px auto;
  max-width: 30%;
  background-color: lightcyan;
  padding: 0px 0px;  
}
.Balance {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.parent-inex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 241);
}
.trans-form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trans-form > input {
  height: 30px;
  width: 50%;
}
.trans-form > button {
  height: 40px;
  margin-top: 10px;
}
.History {
  display: flex;
  border: 2px solid black;
  
  width: 50%;
  margin: 0px auto;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  
}
