.App {
  text-align: center;
  margin: 0px auto;
  max-width: 400px;
  background-color: lightcyan;
  padding: 0px 0px;  
}
.Balance {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.parent-inex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 241);
}
.trans-form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trans-form > input {
  height: 30px;
  width: 50%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 5px;
  font-size: large;

}
.trans-form > label {
  font-size: large;
}
.radio {
  margin-top: 10px;
  height: 15px;
  width: 15px;
}
.trans-form > button {
  height: 40px;
  margin-top: 10px;
  background-color: lightblue;
  outline: none;
  border: 0px;
  border-radius: 14px;
  padding: 10px;
  font-size: large;
}
.History {
  border-radius: 10px;
  width: 350px;
  height: 40px;
  display: flex;
  margin: 0px auto;

  text-align: center;
  align-items: center;
  justify-content: space-around;
}

